extends /tmp/layout.pug
block head
	title
	meta(name="description" content="")
	meta(name="keywords" content="")
	link(href="/assets/css/style.css" rel="stylesheet")

block content
	main
		.area
			.box-wrap
				.box.jsc-fadein
				.text.jsc-fadein あなたはいまこの文章を読んでいる。あなたはいまこの文章を読んでいる。
			.box-wrap
				.text.jsc-fadein あなたはいまこの文章を読んでいる。あなたはいまこの文章を読んでいる。
				.box.box--right.jsc-fadein
			.box-wrap
				.box.jsc-fadein
				.text.jsc-fadein あなたはいまこの文章を読んでいる。あなたはいまこの文章を読んでいる。
			.box-wrap
				.text.jsc-fadein あなたはいまこの文章を読んでいる。あなたはいまこの文章を読んでいる。
				.box.box--right.jsc-fadein
			.box-wrap
				.box.jsc-fadein
				.text.jsc-fadein あなたはいまこの文章を読んでいる。あなたはいまこの文章を読んでいる。
